:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0/0.5);
}

body {
  font-size: 1.2rem;
  font-family: "PT Sans Narrow", sans-serif;
  min-height: 1000px;
}

.hero ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/Foto.jpg);
  z-index: -1;
  filter: brightness();
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
}

.hero h4 {
  font-size: 1.4rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.rsvp h2 {
  color: var(--pink);
  font-family: "Work Sans", sans-serif;
  font-size: 4.5rem;
}

.rsvp {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-color: var(--bg);
  min-height: 90vh;
}

.rsvp p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;
}

form label {
  color: white;
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}
footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

/* media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
}

/* hp */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
}
